.card {
  margin: 1rem 0 1rem 0;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: border 0.15s ease-in-out;
  display: grid;
  grid-template-columns: minmax(200px, 350px) minmax(200px, 350px) 150px;
  height: 200px;
  width: 100%;
  background: white;
  box-shadow: 0 30px 60px rgba(0,0,0,0.12);
}

.card:focus,
.card:hover {
  border: 1px solid rgba(0,0,0,0.34);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.card h3 {
  margin: 0;
  font-size: 1.5rem;
}

.details, .price {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 1rem;
  justify-content: space-between;
}

.list {
  display: flex;
  padding: 0;
  margin: 0;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Firefox*/
}

.list li {
  list-style-type: none;
  margin-right: 0.5rem;
  margin-top: 1rem;
}

.list li h6 {
  margin: 0;
}

.bottomRow {
  position: relative;
}

.fade {
  position: absolute;
  width: 80px;
  height: 100%;
  right: 0;
  top:0;
  background: rgb(255,255,255);
  background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.48082983193277307) 50%);
}

@media (max-width: 550px) {
  .card {
    grid-template-columns: minmax(100px, auto) 150px;

  }
  .card img {
    display: none;
  }
}