.rating {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.excellent {
  background: #0070F3;
}

.good {
  background: #F5A623;
}

.bad {
  background: RED;
}