.tag {
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  color: white;
  padding: 0.3rem;
  font-size: 0.8rem;
  width: fit-content;
  font-weight: 00;
  background-image: -webkit-linear-gradient(0deg,#00c4cc,#7d2ae8);
  margin-bottom: 0.5rem;
}